@font-face {
  font-family: 'paladins';
  src: local('paladins'), url(./fonts/paladins.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #0B0B0B !important; */
  /* padding: 20px; */
  /* color: #FBFBFB; */
}

span, div {
  /* color: #FBFBFB; */
}
/* 
* {
  color: #FBFBFB;
} */

html, body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
}


.video-background {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(100% - 80px);
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: calc(100% - 80px);
  transform: translate(-50%, -50%);
}


@media (min-aspect-ratio: 16/9) {
  .video-background iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-background iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}


.btn {
  color: #2b2b2b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.footer {
  background: #900000;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
}

.header {
  background: #900000;
  box-sizing: border-box;
  height: 80px;
  padding: 20px 40px;
  line-height: 40px;
  width: 100%;
  display: flex;
  color: #fff;
  font-family: paladins;
  justify-content: space-between;
  font-size: 1.6em;
}

.header .menu {
  display: flex;
}

.header .menu div {
  padding: 0px 10px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
  font-size: 1.4em;
  height: calc(100% - 120px);
  /* background: rgba(0, 0, 0, .4); */
  margin-left: 50%;
}

.get-started {
  font-family: paladins;
  font-size: 1.4em;
  padding: 10px 30px;
  background: #900000;
  color: #fff;
  border-radius: 100px;
}